body {
    background-color: #222629;
    text-align: center;
    font-family: arial;
    font-weight: 700;
    padding: 20px;
    margin: 20px;
}

h1 {
    font-size: 35px;
    color: #86C232;
}

h2 {
    font-size: 25px;
    color: #86C232;
}

p {
    font-size: 18px;
    color: #6B6E70;
}

nav {
    color: #474B4F;
}

footer {
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
}

b {
    color:#6B6E70;
    font-weight: 900;
    text-align: start;
}

li {
    color:#474B4F;
    text-align: start;
    padding: 10px;
}

.course {
    color: whitesmoke;
}

footer {
    display: inline;
    margin-right: 10px;
}

a {
    font-size: 15px;
    color: white;
}

a:hover {
    color: white;
}

a:visited {
    color: white;
}

figure {
    text-align: center;
    font-style: italic;
}