
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
}

main {
    padding: 20px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
}

a {
    color: #0066cc; 
}

a:hover {
    text-decoration: underline;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

ul {
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer nav ul li {
    display: inline;
    margin-right: 20px;
}

footer nav ul li a {
    color: white;
}

footer p {
    font-size: 0.8em;
}

footer p a {
    color: #fff;
}

.def {
    color: #23395B;
    font-size: 20px;
    font-weight: bold;

}