<link href="../styles/default.css" rel="stylesheet">

    <div class="footer-container">
        <div class="views">
            <p class="laptop">Laptop View</p>
            <p class="tablet">Tablet View</p>
            <p class="mobile">Mobile View</p>
        </div> 
        <nav>
            <a href="https://webpages.charlotte.edu/gschulze">CLT web</a> 
            ~
            <a href="https://github.com/gablanck/gablanck.github.io">GitHub</a> 
            ~
            <a href="https://gablanck.github.io/itis3135">GitHub.io</a>
            ~
            <a href="gablanckstudios.com/index.html">GaBlanck Studios</a>
            ~
            <a href="https://www.freecodecamp.org/gabriel_blanck">freeCodeCamp</a>
            ~
            <a href="https://www.codecademy.com/profiles/gabriel_blanck">CodeAcademy</a>
            ~
            <a href="https://www.linkedin.com/in/gabriel-schulze-blanck-747523254/">LinkedIn</a>
        </nav>
        <br>
        <p>Page built by <a href="giantshark.com/">Giant Shark INC </a>&copy; 2025 || 
            <i>Certified in</i> 
            <a href="https://www.freecodecamp.org/certification/gabriel_blanck/responsive-web-design">
                <i>Responsive Web Design</i>
            </a>
            <i>and</i>
            <a href="https://www.freecodecamp.org/certification/gabriel_blanck/javascript-algorithms-and-data-structures-v8">
                <i>JADS</i>
            </a>
        </p>
    </div>
