<link href="../styles/default.css" rel="stylesheet">

    <div class="header-container">
        <h1>Gabriel Schulze-Blanck || ITIS 3135 || Introduction</h1>
            <p class="info">Here is a little about me:</p>
            <nav>
                <a href="./">Home</a> 
                ||
                <a href="introduction.html">Introduction</a>
                ||
                <a href="contract.html">Contract</a>
            </nav>
            <br>
            <nav class="projects">
                <a href="giantshark.com/">Whimsical Company</a> 
                ||
                <a href="gablanckstudios.com/">Design Firm</a>
                ||
                <a href="stuff/junk/BigUgly&Page ♡ WORDS.htm">Crappy Page</a>
                ||
                <a href="website_evaluations.html">Website Evaluations</a>
                ||
                <a href="hobby/index.html">Hobby</a>
                ||
                <a href="greenearth.com/">Client Project</a>
                ||
                <a href="tables.html">HTML Tables</a>
                ||
                <a href="forms.html">HTML Form</a>
                ||
                <a href="byo_intro.html">Intro Form</a>
            </nav>
    </div>
